<div {{bind-attr class=":btn-group showDetails:open"}}>
<button class="btn btn-default dropdown-toggle" {{action "toggleOpen"}}>{{name}} ({{selectedRecordsNum}}) <span class="caret"></span></button>
  <div class="dropdown-menu" role="menu" style="width:300px">
  {{input type="text" class="form-control" value=searchText placeholder="Type to search" autofocus="autofocus"}}
  <br/>
  <div class="toolbar">
      <button {{action "selectAll"}} type="button" class="btn btn-default">Select All</button>
      <button {{action "deselectAll"}} type="button" class="btn btn-default">De-select All</button>
  </div>
  <br/>
  {{#if noRecords}}
  <p><span class="label label-warning">Note:</span> No records matching your filter. Try * to get some records</p>
  {{else}}
  <table class="table table-hovered table-striped">
  <tbody>
    {{#each r in filteredRecords}}
    <tr>
      <td>{{input type="checkbox" name="r.selected" checked=r.selected}}</td>
      <td><span {{action "select" r}}>{{get-name r displayName}}</span></td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}
  </div>
</div>
